{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  <title>Food Menu</title>
    <link rel="stylesheet" href="{% static "food.style.css" %}">
  </head>
  <body>
    <main>
      <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand ms-4">Food App</a>
        <div class="navbar">
          <a href="{% url 'food:create_item' %}" class="link-primary me-2">Add Item</a>
          <a href="#" class="link-primary me-2">Delete Item</a>
          <a href="#" class="link-primary me-2">View Item</a>
        </div>
      </nav>

      {% block body %}
      {% endblock %}
    </main>
  </body>
</html>